.product{
    .woocommerce-breadcrumb{
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(0,0,0,.1);
        padding: 10px 20px;
        margin: 30px 0px;
    }
    .ast-on-card-button{
        top: 7em;
    }
}