@forward './top-bar.scss';
@forward './header.scss';
@forward './product-details.scss';
@forward './checkout.scss';
@forward './responsive.scss';

#ast-scroll-top,.woocommerce-mini-cart__buttons .button {
    background: #F3AF35 !important;
}

.vinno-phone-icon{
	display: inline-block;
	svg{
		width: 18px;
		fill: #fff;
		transform: rotate(9deg);
		margin-bottom: -2px;
	}
}

.woocommerce-thankyou-order-received{
	font-size: 22px;
    line-height: 1.4;
    text-align: center;
    border: 3px solid green;
    border-radius: 4px;
    padding: 30px;
    margin: 60px 0 !important; 
}

.woocommerce-customer-details--email{
	display: none;
}